server:
  http:
    addr: 0.0.0.0:8002
    timeout: 1s
  grpc:
    addr: 0.0.0.0:9002
    timeout: 1s
client:
  user:
    to: 0.0.0.0:9001
  favorite:
    to: 0.0.0.0:9004
data:
  mysql:
    driver: mysql
    dsn: "root:toomanysource@tcp(mysql:3306)/atreus?charset=utf8mb4&parseTime=True&loc=Local"
  redis:
    publish_db: 2
    addr: 127.0.0.1:6379
    password: "atreus"
    read_timeout: 0.2s
    write_timeout: 0.2s
    TTL: 1000
  kafka:
    addr: kafka:9092
    comment_topic: "comment"
    favorite_topic: "favorite"
    publish_topic: "publish"
    partition: 0
    read_timeout: 0.2s
    write_timeout: 0.2s
jwt:
  http:
    token_key: "AtReUs"
  grpc:
    token_key: "ToOMaNySoUrCe"
minio:
  endpointExtra: minio:9000
  endpointIntra: minio:9000
  accessKeyId: "atreus"
  accessSecret: "atreus"
  useSSL: false
  bucketName: "oss"